/* Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #fff;

}

.navbar-logo {
  font-size: 1.5rem;
}

.navbar-toggle {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

.navbar-menu {
  display: flex;
  list-style: none;
}

.navbar-menu li {
  margin: 0 1rem;
}

.navbar-menu a {
  text-decoration: none;
  color: #5D5A88;
  font-family: jost;
  font-weight: 700;
  font-size: 18px;
}

@media (max-width: 768px) {
  .navbar-toggle {
    display: block;
  }

  .navbar-menu {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #333;
  }

  .navbar-menu.active {
    display: flex;
  }

  .navbar-menu li {
    margin: 1rem 0;
    text-align: center;
  }
}